 <%- include('./layouts/navbar.ejs')%>
     <%= type%>
    <div class="wall container"> 
        <div class="row">
        <% for (let i = 0; i < price.length; i++) { %>
            <% if (body.data[i].price !== undefined) { %>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator adv-img" src="<%= body.data[i].pictures[0]%>">
                        </div>
                        <div class="card-content">
                        <span class="title"> <a href="#"> <%= body.data[i].title%></a></span>
                        <p class="price"> <%= price[i]%> <i class="fas fa-ruble-sign"></i></p>
                           <% for(let s of sellers.data) { %>
                         <% if (body.data[i].relationships.seller === s.id)  { %>
                            <p><%=s.name %></p>
                             <% } %>
                        <% } %>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
            <% } else if(type === body.data[i].category) { %>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator adv-img" src="<%= body.data[i].pictures[0]%>">
                        </div>
                        <div class="card-content">
                        <span class="title"> <a href="#"> <%= body.data[i].title%></a></span>
                        <p class="price"> <%=price[i] %> <i class="fas fa-ruble-sign"></i></p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
        </div>     
    </div>
<%-include('./layouts/footer.ejs');%>